[filter "lfs"]
  clean = git-lfs clean -- %f
  smudge = git-lfs smudge -- %f
  process = git-lfs filter-process
  required = true


[user]
	email = ss1280dzzz@gmail.com
	name = Bui Dai
	signingkey = 2383928C77C94A3874AD3C4E366883735C5016C3

[color]
  ui = auto


[alias]
  st = status -sb
  co = checkout
  sw = switch
  br = branch
  c = commit --short
  ci = commit --short
  p = push
  l = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --decorate --date=short --color --decorate
  uncommit = reset --soft HEAD^
  amend = commit --amend --no-edit
  unstage = reset HEAD --

[core]
  pager = delta
  editor = nvim
  autocrlf = input
	excludesfile = /home/dai/.gitignore_global


[interactive]
  diffFilter = delta --color-only

[include]
  path = ~/ghq/github.com/folke/tokyonight.nvim/extras/delta/tokyonight_moon.gitconfig

[delta]
  navigate = true    # use n and N to move between diff sections
  light = false      # set to true if you're in a terminal with a light background color (e.g. the default macOS terminal)
  side-by-side = false
  line-numbers = true

[delta "decorations"]
  commit-decoration-style = bold yellow box ul
  file-style = bold yellow ul
  file-decoration-style = none

[merge]
  conflictstyle = zdiff3
  tool = nvimdiff

[diff]
  algorithm = histogram
  colorMoved = default
  tool = nvimdiff
  submodule = log

[pull]
  rebase = true

[push]
  default = current
  autoSetupRemote = true
  followTags = true

[fetch]
  prune = true
  pruneTag = true

[rebase]
  autoStash = true
  autoSquash = true
  updateRefs = true

[github]
  user = bhdai

[init]
  defaultBranch = main

[commit]
	gpgsign = true
  verbose = true

[credential]
helper = cache

[tag]
  gpgsign = true

[credential "https://github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

; [url "ssh://git@github.com/"]
;   insteadOf = https://github.com/

[credential "https://gist.github.com"]
	helper =
	helper = !/usr/bin/gh auth git-credential

[help]
  autocorrect = prompt

[log]
  date = auto:human
